.row
  %ol.breadcrumb
    %li
      %a{href: "#"}
        %em.fa.fa-home
    %li.active Project Tasks
.row
  .col-md-12.p-t-15
    .panel.panel-default
      .panel-heading
        %h4 Project Task Listing
      .panel-body
        .x-scrolling-wrappe
          %table.table.table-bordered.table-hover.table-striped
            %thead
              %tr
                %th.list_id_column Project name
                %th Pending
                %th In Progress
                %th Done
            %tbody
              - projects = Project.all
              - if projects.present?
                - projects.each do |project|
                  - tasks = project.tasks
                  - tasks_by_status = tasks.group_by(&:status)
                  - if tasks_by_status.present?
                    %tr
                      %td
                        .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", id: "project#{project.id}", role: "dialog"}
                        = link_to project.title, pie_data_admin_user_tasks_path(current_user, project: project.id), remote: true
                        = render 'common_tasks', tasks_by_status: tasks_by_status
              - else
                No entry found
%script{src: "https://www.gstatic.com/charts/loader.js", type: "text/javascript"}
:javascript
  $(document).on('turbolinks:load', function() {
    google.charts.load('current', {'packages':['corechart']});
  });