%h1 Editing Project
=form_for @project, url: admin_user_project_path(current_user, @project), method: :put do |form|
  = render 'form', project: @project, form: form
/ = link_to 'Show', @project
= link_to 'Back', admin_user_projects_path
