- if current_user.present? && current_user.admin?
  #sidebar-collapse.col-sm-3.col-lg-2.sidebar
    %ul.nav.menu
      %li.active
        %a{href: admin_user_projects_path(current_user)}
          %em.fa.fa-dashboard  
          Projects lists
        %a{href: admin_user_tasks_path(current_user)}
          Task lists
        %a{href: developer_task_list_admin_user_tasks_path(current_user)}
          Developers Task lists
        %a{href: project_task_list_admin_user_tasks_path(current_user)}
          Projects Task lists

      - if user_signed_in?
        %li.logout
          = link_to destroy_user_session_path, method: :delete do
            %em.fa.fa-power-off
            Logout
